body{
    background: #e6ffe6;
}
.jhon{
    color:aliceblue;
}
/* .size-book{
    max-width: 25%;
} */
.newColor{
    background: blueviolet;
}
.even{
    background-color: red;
    font-size: 1.3rem;
}
.odd{
    background-color: #46a0de;
    color: white;
    font-size: 1.3rem;
}
